{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <main class="container p-5">

    <table class="table table-striped table-left">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Action</th>
                <th>Price</th>
                <th>Total</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for i in data: %}
            <tr>
                <td>{{ i.symbol }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.shares }}</td>
                <td>{{ i.action }}</td>
                <td>${{ i.price }}</td>
                <td>${{ i.total }}</td>
                <td>{{ i.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}